@charset "UTF-8";
body{
    animation:is-bouncing 1s ease alternate infinite;
    /* ease/ease alternate/ease-in/ease-out */
    display: grid;
    place-items: center;
    height: 100vh;
}
img{
    width: 200px;

}
@keyframes is-bouncing{
    to{
        transform: translateY(30px);

        
    }
}